#main {
  width: 100%;
  height: 400px;
  background-color: #333;
}
/*
  #main section {
    width: 100%;
    height: 100vh;
  }
  
  #main section:nth-child(1) {
    position: relative;
    top: var(--header-height);
  } */
